<div class="list-group-item d-flex align-items-center pl-3" [class.text-muted]="tarefa.concluida">
  <button class="btn btn-sm" (click)="onAlternarStatus()">
    <i class="far" [ngClass]="tarefa.concluida ? 'fa-check-square' : 'fa-square'"></i>
  </button>

  <span
    #nome
    class="flex-grow-1"
    contenteditable="true"
    (keyup.enter)="nome.blur()"
    (keyup.esc)="nome.blur()"
    (blur)="onEditarNome($event.target.innerText)"
  >
    {{ tarefa.nome }}
  </span>

  <button class="btn btn-sm"><i class="fa fa-times"></i></button>
</div>
