<div class="card bg-light shadow-sm">
  <div class="card-header bg-primary text-white d-flex align-items-center">
    <h5 class="m-0 py-2 flex-grow-1" contenteditable="true" #nome>
      {{ lista.nome }}
    </h5>
    <button class="btn btn-sm text-white" (click)="onAdicionarTarefa()">
      <i class="fa fa-lg fa-plus"></i>
    </button>
  </div>

  <div class="list-group list-group-flush">
    <app-tarefa
      [tarefa]="tarefa"
      (alternarStatus)="ordenarLista()"
      (excluir)="onExcluirTarefa(tarefa)"
      *ngFor="let tarefa of lista.tarefas"
    ></app-tarefa>
  </div>
</div>
