.list-group-item button:last-child {
  visibility: hidden;
}

.list-group-item:hover button:last-child,
.list-group-item:focus-within button:last-child {
  visibility: visible;
}

.list-group-item.text-muted {
  text-decoration: line-through;
}

.list-group-item:not(.text-muted) {
  font-weight: bold;
}

.text-muted * {
  color: inherit;
}
